<li>
    <a href="{{ .Permalink }}">
        {{ .Title }}
        <small><time>{{ .Date | time.Format (i18n "posts.date") }}</time></small>
        <!-- <small><time>{{ .Date.Format "2.1.2006" }} </time></small> -->
    </a>
</li>
